//
   Created by jaric on 20.01.2015.

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        //-meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
        link(rel='stylesheet', href='/stylesheets/additional-style.css')
        //-link(rel='stylesheet', href='/stylesheets/dashboard.css')

        title= "gallery"
        //-link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")

        script(src='/javascripts/angular.js')
        script(src='/javascripts/ui-bootstrap-tpls-0.12.0.js')
        script(src='/javascripts/gallery.js')

    body
        div(ng-app='jApp', ng-controller='jController')
            div(class='main row center-block form-control-static')
                div(class='col-xs-9')
                    input(type='text', ng-model='id', class='form-control center-block', placeholder='your id')
                div(class='col-xs-3')
                    a(href='/gallery', class='btn btn-danger center-block', onclick='alert(321);') Search

            //-
                input(type='text', ng-model='id', class='form-control', placeholder='your id')
                //-button(class='btn btn-danger center-block') search
                //p(class='lead')
                a(href='gallery', class='btn btn-danger btn-lg', style='', onclick='alert(123);') Search

            //-div() {{id}}
            //-div(ng-repeat='photo in data')
                div()
                    img(ng-src='{{photo.link}}', class='img-rounded center-block')

            div(class='main')
                div(class='row center-block form-control-static', ng-repeat='rows in chunkedData')
                    div(class='col-xs-4 col-sm-4 col-md-4 col-lg-4', ng-repeat='item in rows')
                        img(ng-src='{{item.link}}', class='img-responsive center-block', data-holder-rendered='true')
            //-div(class='main')
                div(class='col-xs-6 col-sm-4 col-md-3 col-lg-2', ng-repeat='item in data')
                    img(ng-src='{{item.link}}', class='img-responsive center-block', data-holder-rendered='true')

            //- ====================================== TABLE ==============================================
            //-table(class='table-striped')
                tr(ng-repeat='rows in chunkedData')
                    td(ng-repeat='item in rows')
                        img(ng-src='{{item.link}}', class='img-rounded center-block')


            //-span(class="input__form col-md-8 col-md-offset-2")
                div(class="form__row form-group index-map")
                    input(class="form__input input__white form-control", id="autocomplete", placeholder="Some id ", type="text", autocomplete="off")
                a(class="button button__hero button__green discover-btn", href="/discover") Search
